{% extends 'master' %}

{% block content %}
<div class="container">
  <div class="card">
      <div class="js-app">

      </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
  <script src="/app.js" charset="utf-8"></script>
{% endblock %}
